{% extends 'base.html' %}

{% block content %}
  <div class="content">
      <div class="inside book">
          <a href="http://www.amazon.com/gp/product/0446578649?ie=UTF8&tag=lega01-20&linkCode=as2&camp=1789&creative=390957&creativeASIN=0446578649">
              <img border="0" src="/images/BrazenCareerist.jpg" />
              <h3>Brazen Careerist</h3>
          </a>
          <p>RATING: Read, if you like the blog.</p>
      </div>

      <h3>Summary</h3>
      <p>A great career doesn't fall on you. You have to seek it out by moving in the direction toward which your heart pushes. If you know yourself and you take passion seriously, your work will provide structure and support for a happy life.</p>

      <h3>3 Takeaways</h3>
      <ol>
          <li>Climbing the corporate ladder is not what it use to be. Learn the skills you want and jump around.</li>
          <li>Cold calling is for champions. No one ever says to themselved, "I wish I hadn't been so aggressive in trying to get what I wanted."</li>
          <li>You don't have an opportunity if you don't have a goal.</li>
      </ol>

      <h3>Notes</h3>

      <p>Lesson #1: Get all your agreements in writing.</p>

      <p>Treat your career goals as a hypothesis and balance time spent achieving your goals with time spent discovering them.</p>

      <p>Cold-calling is for champions. Think of all the times in life you regret. Usually it was when you didn't take a more active role in your life; when you didn't take control of your life. In this sense, you can't lose making a cold call. No one ever says to themselves, "I wish I hadn't been so aggressive in trying to get what I wanted."</p>

      <p>Once you've figured out how to support yourself, the next step is to focus on getting what you want from work. The best way to do this is to be an extraordinary performer. This does not mean you should be the hardest worker. It means you should be absolutely clear on what your personal and professional goals are and use your skills to attain them. Stars at work get more feedback, more training, and better projects.</p> 

      <p>Lesson #3: Everything in life is open to negotiation because everyone has something they can give you.</p>

      <p>One of the most classic pieces of career advice is to manage up: manage what your boss thinks of you; steer your boss's plans for you; get your boss to supervise in a way that works well for you.</p>

      <p>If you are not managing your image at work, you are not managing your career.</p>

      <p>There are no longer corporate ladders because no one stays long enough at a company to get up the whole ladder. Turn your focus on what you really want and need right now: interesting work and a chance to expand your skill set.</p>

      <p>Lesson #7: Know when to follow rules and when to use your own judgement.</p>

  </div>
{% endblock %}
