/* Body */

body {
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', Helvetica, Arial, Verdana, sans-serif;
  line-height: 1.5em;
}

.container {	
}

/* Header */

.header {
  border-bottom: 2px solid #e1e1e1;
}

.header ul {
  overflow: hidden;
}

.header ul li {
  float: left;
  list-style: none;
  margin: 1em;
}

.header ul li a {
  color: #000;
  text-decoration: none;
}

.header ul li a:hover {
  background: #000;
  color: #fff;
}

.header #on_page {
  border-bottom: 2px solid #000;
}

/* Main Column */

.main_column {
}

.main_column .contents {
  margin: 3.5em;
  color: #111;
}

.main_column .contents a {
  color: #000;
}

.main_column .contents a:hover {
  background: #000;
  color: #fff;
  text-decoration: none;
}

/* Footer */

.footer {
 /* border-top: 2px solid #e1e1e1;*/
}

.footer #copyright {
  position: absolute;
  right: 0;
  bottom: 0;
}

/* Book */

.content {
  position: relative;
  left: 5em;
  top: 3.5em;
  width: 960px;
  padding-bottom: 5em;
}

.text {
    position: absolute;
    top: 0;
    right: 40%;
    bottom: 0;
    left: 0;
}

.text>h1 {
  border-bottom: 2px solid #000;
  padding-bottom: 1.5px;
}

.book {
/*  width: 300px; 
  padding: 0 3em; 
  position: relative; */
}

.outside {
}

.inside {
/*  width: intrinsic;
  width: -moz-max-content; */
  border: 0;
  padding: 0;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  left: 70%;
}

.book a h2 {
  text-decoration: underline;
  color: #000;
/*  font-size: 18px;*/
}

.book a:hover h2 {
  background: #000;
  color: #fff;
/*  width: intrinsic;
  width: -moz-max-content;
  font-size: 12px;*/
}

/* Main page */

ul.listings {
/*  float: left;
  clear: left; */
  margin: 0;
  padding: 0;
  list-style: none; 
}

.listing {
/*  position: relative; */
  float: left; 
/*  display: inline; */
}

.amazon {
  text-align: center;
  margin-bottom: 3em;
  margin-top: 0;
}
