<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8" /> 
    <title>Leo Gau</title>
  
    <link href="/stylesheets/style.css" type="text/css" rel="stylesheet" />
  
    <script type="text/javascript">

          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-20833593-1']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();

    </script>
  
  </head>

    <body>
        <div class="container">
        
            <div class="header">
                <img src="img/profile.jpg" width="60" height="60" id="profile" />
		<h1><a href="mailto:me@leogau.org" id="name">Leo Gau</a></h1>
            	<ul>
                        <li><a href="http://leogau.org">Home</a></li>
                        <li><a href="http://leogau.org/blog">Blog</a></li>
                        <li><a href="#">Portfolio</a></li>
                	<li><a href="." id="on_page">Books</a></li>
                </ul>

            </div>

              {% block content %}
              {% endblock %}
      


        </div>
    </body>
</html>
    
