{% extends 'base.html' %}

{% block content %}

<div class="content">
	<div class="inside book">
		<a href="{{ book.amazon_link }}">
            <img border="0" src="images?img_id={{ book.key }}" />
			<h2>{{ book.title }}</h2>
		</a>
        <p><h3>Rating</h3> {{ book.rating }}</p>
        {% if admin %}
            <p><a href="/edit/{{ book.url }}">Edit {{ book.title }}'s information</a></p>
        {% endif %}
	</div>

    <div class="text">
        <h1>Summary</h1>
        <p>{{ book.summary }}</p>

        <h1>3 Takeaways</h1>
        <ol>
            <li>{{ book.first }}</li>
            <li>{{ book.second }}</li>
            <li>{{ book.third }}</li>
        </ol>

        <h1>Notes</h1>
        {{ book.notes }}
    </div>
</div>

{% endblock %}
