{% extends 'base.html' %}

{% block content %}

<div class="content">
	<div class="inside book">
		<a href="{{ book.amazon_link }}">
		<img border="0" src="images?img_id={{ book.key }}" />
		</a>
        <p><h3>Rating</h3> {{ book.rating }}</p>
        {% if admin %}
            <p><a href="/edit/{{ book.url }}">Edit {{ book.title }}'s information</a></p>
        {% endif %}
	</div>

    <div class="text">
	<h1>{{ book.title }}</h1>
        <h2>Summary</h2>
        <p>{{ book.summary }}</p>

        <h2>3 Takeaways</h2>
        <ol>
            <li>{{ book.first }}</li>
            <li>{{ book.second }}</li>
            <li>{{ book.third }}</li>
        </ol>

        <h2>Notes</h2>
        {{ book.notes }}
    </div>
</div>

{% endblock %}
