{% extends 'base.html' %}

{% block content %}

<div class="main_column">

    <div class="contents" style="margin-top: 0;">
        <h1>Books I've read</h1>
        <p>These are my book notes. They include excerpts as well as my own notes. I'll be updating this page as I finish more books.</p>
    </div>

    <div class="book">
	<ul class="listings">

    	{% for book in books %}
		<li class="listing">    
		    <a href="{{ book.url }}">
			<img border="0" src="images?img_id={{ book.key }}" />
		    </a>
		    <p class="amazon">(<a href="{{ book.amazon_link }}">Amazon</a>)</p>
		</li>
	{% endfor %}

	</ul>
    </div>
 
</div> <!-- End main_column --> 

{% endblock %}  
